/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #010323;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Exo', sans-serif;
    /* color palette option 1
    color: #e16b3c;*/
    /* color palette option 2 */
    color: #a22527;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: #010323;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 1px #a22527;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    align-items: baseline;
}

header a {
    color: inherit;
    text-decoration: none;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #a22527;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #010323;
    box-shadow: 0 1px 1px #a22527;
    width: 100%;
    padding: 0 1rem;
    display: none;
    left: 0;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    margin-top: 45px;
}

/* Hero section */
#hero {
    display: flex;
    flex-wrap: wrap;
}
/* Hero image responsive styling */
#hero-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    background: no-repeat;
}
/* Hero section title / welcome heading */
#hero-text {
    text-align: center;
    width: 100%;
    padding: 10px;
}
/* Hero section subtitle */ 
#hero-text > h4 {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* About section */
/* General section styles */
#about {
    width: 100vw;
}
/* About section heading styles */
#about h3 {
    color: #a22527;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/* Change to flexbox to allow following div containers / cards to flex and change position */ 
#about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* Styles for each child div of main div container (containing individual topic text & images) */
.about-topics {
    width: 80vw;
    background-color: rgba(162, 37, 39, 0.7);
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px rgba(162, 37, 39, 0.3);
    margin: 10px auto;
}

/* Styling for all #about-topics child images */
#about-container img {
    border-radius: 8px;
    width: 80vw;
    max-width: 615px;
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for all .about-topics divs child paragraphs */
.about-topics p {
    font-size: smaller;
    padding: 5px 5px;
}

/* Styling for about cards topic titles */
#about-topic-titles {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em;
}

/* Styling for links to other pages in .about-topics divs paragraphs */
.about-topics p a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}
/* Add styling for hovering over links on larger screens */
.about-topics p a:hover {
    font-weight: bold;
    font-size: 110%;
  }

/* Events section */
#events {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#events img {
    height: 90vw;
    width: 90vw;
    margin: 10px 0;
    /* Makes square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 200px;
}

#events-community , #events-sponsored {
    width: 80vw;
    background-color: rgba(162, 37, 39, 0.7);
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px rgba(162, 37, 39, 0.3);
    margin: 10px auto;
}

#events h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

#events p {
    font-size: smaller;
    padding: 5px 5px;
}
/* Footer */
/* Footer hr element styling to fit header / navbar style */
#footer-separation {
    color: #a22527;
    margin: 5px 0;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 6px 0 4px;
}

/* Footer Icons */
#social-networks i {
    color: #a22527;
    font-size: 150%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    /* Remove Navbar Icon */
    .nav-toggle-label {
        display: none;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #logo {
        font-size: 200%;
        margin: 0.7rem 0;
    }

    /* Main content */
    /* Adjust main content for larger header size */
    main {
        margin-top: 66px;
    }
    /* Responsive Try 1 */
    #about-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about-topics {
        margin: 5px 10px;
        max-width: 300px;
    }

    #about-container img {
        max-width: 300px;
        height: auto;
    }

    #events-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #events-container img {
        max-width: 300px;
        height: auto;
    }

    #events-community, #events-sponsored {
        max-width: 300px;
        height: auto;
    }


}