/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #010323;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Exo', sans-serif;
    /* color palette option 1
    color: #e16b3c;*/
    /* color palette option 2 */
    color: #a22527;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: #010323;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 1px #a22527;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    align-items: baseline;
}

header a {
    color: inherit;
    text-decoration: none;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #a22527;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #010323;
    box-shadow: 0 1px 1px #a22527;
    width: 100%;
    padding: 0 1rem;
    display: none;
    left: 0;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */ 
main {
    margin-top: 45px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    /* Remove Navbar Icon */
    .nav-toggle-label {
        display: none;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #logo {
        font-size: 200%;
        margin: 0.7rem 0;
    }

    /* Main content */
    /* Adjust main content for larger header size */
    main {
        margin-top: 66px;
    }

}